@import "tailwindcss";
@import "./styles/colors.css";

@theme {
  --color-primary: #0A66C2;
  --color-primary-dark: #004182;
  --color-primary-light: #0B63BB;
  --color-primary-lighter: #E7F1FF;
  --color-background: #F3F2EF;
  --color-surface: #FFFFFF;
  --color-text-primary: #000000;
  --color-text-secondary: #666666;
  --color-border: #D3D3D3;
  --color-success: #31A24C;
  --color-warning: #F4A301;
  --color-error: #D92E24;
}